h1 {
    background-color: darkkhaki;
    font-size: medium;
    border: 5px solid rgb(233, 173, 10); 
    text-align: center; 
    padding: 15px;
}
body{
 background-color: khaki;
}

body p{
    background-color: darkkhaki;
border: 5px solid royalblue;
margin-top: 100px;
padding: 50px;

}
ul {
    background-color: darkkhaki;
    border: 5px solid rgb(213, 250, 6);
    margin-top: 100px;
    padding: 50px;
}

#answer{
border: 5px solid green;
padding: 50px;
margin-top: 100px;
}
#goodbye{
    border: 5px solid purple;
padding: 50px;
margin-top: 50px;

}

#favmovies {
    background-color: darkkhaki;
    border: 5px solid rgb(213, 250, 6);
    margin-top: 100px;
    padding: 50px;

}